body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace, sans-serif;
    overflow: hidden;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e5ae09b0-a69f-4795-a0e8-6cb6a65ebd31/d8dbnac-4e140102-df75-48f0-9c53-880cce859497.jpg/v1/fill/w_1192,h_670,q_70,strp/chalkboard_texture_mc2015_by_mattiamc_d8dbnac-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTAwIiwicGF0aCI6IlwvZlwvZTVhZTA5YjAtYTY5Zi00Nzk1LWEwZTgtNmNiNmE2NWViZDMxXC9kOGRibmFjLTRlMTQwMTAyLWRmNzUtNDhmMC05YzUzLTg4MGNjZTg1OTQ5Ny5qcGciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.EQy0zW4hogAprYLGDlrDvT-LHNKTf5koGvuhdw2-80E);
    background-size: cover;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 45, 45);
    height: 60vh;
    aspect-ratio: 1/1.8;
    justify-content: stretch;
    align-items: stretch;
    padding: 25px;
    gap: 13px;
    border-radius: 30px;
    border: 4px solid rgb(83, 83, 83);
    overflow: hidden;
    box-shadow: 0px 0px 1150px rgb(147, 147, 147);
}

.row {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: space-evenly;
    gap: 13px;
}

.screen {
    flex-grow: 3;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 2px solid rgb(165, 164, 164);
}

.button {
    box-sizing: border-box;
    flex-grow: 1;
    border-radius: 1000px;
    width: 20%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.zerobutton {
    flex-grow: 11;
}

button {
    flex-grow: 1;
    border-radius: 80px;
    border: 2px solid #575757;
    background-color: #454545;
    font-size: 16px;
    color: white;
}

#screenText {
    color: rgb(50, 50, 50);
    font-size: 400%;
    padding-right: 1rem;
}

button:hover {
    border: 2px solid rgb(170, 170, 170);  
}

.orange {
    background-color: #FE9505;
    border-color: #FE9505;
}

.grey {
    background-color: #A5A5A5;
    color: black;
    border-color: #A5A5A5;
}


.grey:hover {
    border-color: #dbdbdb;
}

.orange:hover {
    border-color: #ffca80;
}